<h1>My Venture List</h1>
 <mat-toolbar>
    <mat-icon (click) = "toggleDashTool()" id = "toolbarmenu">subject</mat-icon>

    My Dahsboard

    <span class="toolbar-spacer"></span>
    <mat-icon
      class= "toolbar-icon" matBadge = "8" matBadgePosition = "after" matBadgeColor = "accent">notifications
    </mat-icon>
  </mat-toolbar>
  <mat-sidenav-container full-screen>

    <mat-sidenav mode="side" #sidenav id="sidenav" opened
    [class.menu-open] = "isMenuOpen"
    [class.menu-close] = "!isMenuOpen">
      <mat-list id ="menus">
        <mat-card>
          <mat-card-header >
            <div mat-card-avatar class="avatar">
            </div>
            <mat-card-title *ngFor="let post of posts" >{{posts.author}}</mat-card-title>
          <mat-card-subtitle>Internal</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-list-item>
        <button 
        class="menu-item"
          mat-flat-button>
          <mat-icon>dashboard</mat-icon>
        Dashboard</button>
      </mat-list-item>

      <mat-list-item>
          <button 
          class="menu-item"
            mat-flat-button>
            <mat-icon>work</mat-icon>
          Project</button>
        </mat-list-item>

        <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button>
              <mat-icon>settings_application</mat-icon>
            Settings</button>
        </mat-list-item>

      </mat-list>

    </mat-sidenav>

    <mat-sidenav-content
    [ngStyle]="{ 'margin-left.px': contentMargin }">

        <button class = "writeButton" mat-raised-button color="accent" routerLink = '/create'> Write a Post</button> 
          <div><label id= "label"> My Venture List </label></div>
  <ng-container *ngIf="posts">

  <div [hidden]="!editing">
    <mat-card *ngFor = "let post of posts">
      <h1>Edit Post</h1>
        <mat-form-field>
          Title
          <input matInput placeholder="Post title"  [(ngModel)]="post.title" name="title"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Post Image Url" [(ngModel)]="post.image" name="image">
        </mat-form-field>
        <!-- <form>      
          <div>
            <input type="file" name="image" (change)="selectImage($event)" [(ngModel)]="posts.image" />
          </div>
          <br>
          <div>
            <button mat-button type="submit" (click)="onSubmit()">Upload</button>
          </div>
        </form> -->
        <br>
        <mat-form-field>
          <textarea matInput placeholder="Describe Venture" [(ngModel)]="post.description" name="description" rows="10"></textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button (click)="editInit(post)" color="accent">Save</button>
        <button mat-button (click)="editing=false" *ngIf="editing">Cancel</button>
    </mat-card>
  </div>


  <div [hidden]="editing">
    <mat-card *ngFor = "let post of posts">
      <div><h1 class="title">{{post.title}}</h1></div>
      <div>Posted By {{post.author}} on {{post.published}}</div>
      <div><img src={{post.image}}
                                [style.width.px] ='imageWidth'
                                [style.margin.px] ='imageMargin' alt="{{post.title}}">
      </div>
      <div>{{post.description}}</div>
      <small>Posted by {{post.author}} &bull; on {{post.published | date:"fullDate"}}</small>
      <mat-card-actions>
          <button mat-icon-button (click)="delete(post._id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="editing=true">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
    </mat-card>
  </div>

</ng-container>


        <!-- <section>
            <ng-container>
            <mat-card *ngFor="let post of posts">
              <mat-card-content routerLink="{{post._id}}">
                <img mat-card-image src={{posts.image}}
                                          [style.width.px] ='imageWidth'
                                          [style.margin.px] ='imageMargin'>
                <h2 class="title">{{post.title}}</h2>
                <p>
                  <small>Posted by {{post.author}} &bull; on {{post.published | date:"fullDate"}}</small>
                </p>
              </mat-card-content>
              <mat-card-actions >
                <button mat-icon-button (click)="DeletePost(post._id)">
                  <mat-icon aria-label="delete">delete</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
        </ng-container>
          </section> -->
    </mat-sidenav-content>

  </mat-sidenav-container>
<!-- 
//*ngIf="auth.loginUser == post.authorID" -->

