<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<div>

</div>
<section>
<mat-card>
  <form>
    <div class="col-md-12">
      <!-- <div class="col-md-4">
      </div> -->
    <!-- <div class="col-md-4"> -->
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" [(ngModel)]="loginUserDetails.email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" [(ngModel)]="loginUserDetails.password" name="password"class="form-control" id="exampleInputPassword1" placeholder="Password">
      <span id="logSuccess"> </span>
    </div>
   
    <button type="submit" (click)="loginUser()" class="btn btn-primary">Submit</button>
    </div>
    <div>
      <small>Or, <span id="signup">Sign Up</span>  If You Are New Here!</small>
    </div>
    <!-- <div class="col-md-4">
    </div> -->
    <!-- </div> -->
  </form>
</mat-card> 
</section>   
  
</body>
</html>
</body>
</html>


