form{
    text-align: center;
}
section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 40%;

}

.form-group{
    font-family: monospace;
    font-weight: 300;
}
button{
    color: rgba(250, 21, 109, 0.945); background-color: rgb(36, 51, 51);
}