<ng-container>
  <div>
    <div class="example-ripple-container mat-elevation-z4"
     matRipple
     
     [matRippleUnbounded]>
  <h1 class="text">Welcome to the Featured List. Start a Venture to see it listed here!</h1>
</div>
  </div>

<section>
    <mat-card *ngFor="let post of posts">
      <mat-card-content routerLink="{{post._id}}">
        <div style="text-align: center">
        </div>
        <img mat-card-image src="{{post.image}}"
        [style.width.px] ='imageWidth'
                                [style.margin.px] ='imageMargin' alt="{{post.title}}">
        <h2>{{post.title}}</h2>

        <p *ngFor= "let user of registeredUser">
          <small>Posted by {{user.name}} &bull; on {{post.published | date:"fullDate"}}</small>
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-icon-button (click)="DeletePost(post._id)">
          <mat-icon aria-label="delete">delete</mat-icon>
        </button>
      </mat-card-actions> -->

    </mat-card>
  </section>
</ng-container>


