<div class="home-page">
    <div class= "nav-brand">
      <h1 class="moto">Make the World a Better Place </h1>
    </div>
        <div class="container">
            <mat-chip-list aria-label=" selection">
                <mat-chip color="primary">#Environment</mat-chip>
                <mat-chip color="accent" >#Social Good</mat-chip>
                <mat-chip color="primary" selected>#NOPoverty</mat-chip>
                <mat-chip color="accent" selected>#SupportKids</mat-chip>
                <mat-chip color="primary">#GiveForLife</mat-chip>
                <mat-chip color="accent" >#SaveWater</mat-chip>
                <mat-chip color="primary" selected>#JusticeForTanya</mat-chip>
                <mat-chip color="accent" selected>#BalckLivesMatter</mat-chip>
                <mat-chip color="accent" selected>#DogRescue</mat-chip>
              </mat-chip-list>
        </div>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <!-- <img src="server/assets/image1.jpg" alt="trees" layout-fill> -->
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-chip-list aria-label=" selection">
            </mat-chip-list>
          </mat-grid-tile>
          <mat-grid-tile>
            
          </mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>

</div>





