<div class="home-page">
    <div class= "nav-brand">
      <h1 class="moto">Make the World a Better Place </h1>
    </div>
        <div class="container">
            <mat-chip-list aria-label=" selection">
                <mat-chip color="primary">#Environment</mat-chip>
                <mat-chip color="accent" >#Social Good</mat-chip>
                <mat-chip color="primary" selected>#NOPoverty</mat-chip>
                <mat-chip color="accent" selected>#SupportKids</mat-chip>
                <mat-chip color="primary">#GiveForLife</mat-chip>
                <mat-chip color="accent" >#SaveWater</mat-chip>
                <mat-chip color="primary" selected>#JusticeForTanya</mat-chip>
                <mat-chip color="accent" selected>#BalckLivesMatter</mat-chip>
                <mat-chip color="accent" selected>#DogRescue</mat-chip>
              </mat-chip-list>
        </div>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
         <label id="agenda"for="agenda">Every Member can start a new venture by clicking on 'Start a Venture'. <br> The Dashboard will have the Options to Write a New Post, as well as Edit and Delete the already created ones. See it get displayed in the Featured list, too. </label>
          </mat-grid-tile>
          <mat-grid-tile>
            <label id = "agenda2"for="agenda"> The Featured list contains of all of the created Ventures. <br> One can see the details of the venture by clicking on it each individual posts <br>
              The authors can also Edit and Delete posts once they have clicked on it. </label>

            <mat-chip-list aria-label=" selection">
            </mat-chip-list>
          </mat-grid-tile>
          <mat-grid-tile>
            
          </mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>

</div>





